pyscf==1.7.5
h5py==3.0
scipy==1.4.1
numpy==1.18
opt_einsum
jupyter
sphinx
nbsphinx
pyberny
sphinx_rtd_theme
sphinxcontrib-bibtex
jupyter_contrib_nbextensions
pandoc
matplotlib
docopt
codecov
pytest-cov
